 <!-- explore menu start  -->
 <section class="menu" id="onMenu">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-7 m-auto py-3 text-center">
                <h1>Explore Our Menu</h1>
                <h5>Healthy Organic Food</h5>
            </div>
            <div class="row">
                <div class="col-lg-3 text-center">
                    <div class="card border-0 bg-light mb-2">
                        <div class="card-body card1">
                            <img src="../../assets/image/card10.jpg" class="img-fluid" alt="Easy Vegetarian Ramen Recipe">
                        </div>               
                    </div>
                    <h6>Easy Vegetarian Ramen Recipe</h6>
                    <p>$23.34</p>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="card border-0 bg-light mb-2">
                        <div class="card-body">
                            <img src="../../assets/image/card4.jpg" class="img-fluid" alt="">
                        </div>               
                    </div>
                    <h6>Vegetable And Pork Spring Rolls</h6>
                    <p>$23.34</p>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="card border-0 bg-light mb-2">
                        <div class="card-body">
                            <img src="../../assets/image/card6.jpg" class="img-fluid" alt="">
                        </div>               
                    </div>
                    <h6>Yellow Curry Fried Rice With Potatoes</h6>
                    <p>$23.34</p>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="card border-0 bg-light mb-2">
                        <div class="card-body">
                            <img src="../../assets/image/card5.jpg" class="img-fluid" alt="">
                        </div>               
                    </div>
                    <h6>Pumpkin Scallion Pancakes</h6>
                    <p>$23.34</p>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="card border-0 bg-light mb-2">
                        <div class="card-body">
                            <img src="../../assets/image/card11.jpg" class="img-fluid" alt="">
                        </div>               
                    </div>
                    <h6>Fresh Vietnamese Spring Rolls</h6>
                    <p>$23.34</p>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="card border-0 bg-light mb-2">
                        <div class="card-body">
                            <img src="../../assets/image/card12.jpg" class="img-fluid" alt="">
                        </div>               
                    </div>
                    <h6>Simple Coconut Rice With Hint Of Lime</h6>
                    <p>$23.34</p>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="card border-0 bg-light mb-2">
                        <div class="card-body">
                            <img src="../../assets/image/card13.jpg" class="img-fluid" alt="">
                        </div>               
                    </div>
                    <h6>Easy Green Curry Noodles</h6>
                    <p>$23.34</p>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="card border-0 bg-light mb-2">
                        <div class="card-body">
                            <img src="../../assets/image/card14.jpg" class="img-fluid" alt="">
                        </div>               
                    </div>
                    <h6>Vegan Congee Recipe</h6>
                    <p>$23.34</p>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-6 m-auto pt-4 text-center">
                    <button class="btn1">Click For More</button>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- explore menu end  -->
<!-- Shop start  -->
<section class="shop" id="shopnow">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-7 m-auto text-center">
                <h5>Choose From</h5>
                <h1>70+ 
                    Weekly Option
                </h1>
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 pb-3">
                <img src="../../assets/image/card10.jpg" class="img-fluid mb-3" alt="">
                <h6>PANEER TIKKA MASALA</h6>
                <p>This simple paneer tikka masala is packed with flavor. Pan fry pieces of paneer until golden brown and then bathe them in a rich tomato sauce. The paneer tikka masala is so good that you’ll want to lick the bowl!</p>
            </div>
            <div class="col-lg-4 pb-3 ">
                <img src="../../assets/image/card7.jpg" class="img-fluid mb-3" alt="">
                <h6>STRAWBERRY & TERIYAKI TOFU SPRING ROLLS</h6>
                <p>These fresh tofu spring rolls are filled with pan-fried teriyaki tofu, vegetables, herbs, and sliced strawberries. They’re a perfect blend of sweet and savory flavors. Serve the spring rolls with my sweet chili sauce or peanut sauce for a light meal. You can double up the recipe and serve the spring rolls for larger gatherings.</p>
            </div>
            <div class="col-lg-4 pb-3">
                <img src="../../assets/image/card8.jpg" class="img-fluid mb-3" alt="">
                <h6>MANGO TAPIOCA PUDDING (MANGO SAGO)</h6>
                <p>This mango tapioca pudding (aka mango sago) is a refreshing summer dessert made with easy-to-find ingredients. It’s a crowd pleaser!</p>
            </div>
            <div class="col-lg-4">
                <img src="../../assets/image/Chicken-Chow-Mein-FF2-300x300.jpg" class="img-fluid mb-3" alt="">
                <h6>THE EASIEST CHICKEN CHOW MEIN</h6>
                <p>This simple chicken chow mein recipe is a delicious meal that’s ready in 30 minutes. You can also customize this recipe by substituting your favorite protein and vegetables.</p>
            </div>
            <div class="col-lg-4">
                <img src="../../assets/image/Chicken-Fried-Rice-FF-300x300.jpg" class="img-fluid mb-3" alt="">
                <h6>EASY CHICKEN FRIED RICE</h6>
                <p>This chicken fried rice recipe is a budget-friendly weeknight meal and takes only 30 minutes to make.</p>
            </div>
            <div class="col-lg-4">
                <img src="../../assets/image/Orange-Honey-Shrimp-Avocado-Toast-FF-300x300.jpg" class="img-fluid mb-3" alt="">
                <h6>ORANGE HONEY SHRIMP & AVOCADO TOAST</h6>
                <p>This orange honey shrimp and avocado toast is perfect for a weekend brunch or a light dinner. The toast is served with gooey melted cheese, succulent pan-fried shrimp, and avocado slices.</p>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-6 m-auto pt-4 text-center">
                    <button class="btn1">Click For More</button>
                </div>
            </div>
    </div>
</section>
<!-- Shop end  -->
