<!-- contact us start -->
<section class="contact" id="contactu">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-7 m-auto text-center">
                
                <h1>Contact Us
                </h1>
                <h5>Always be in touch</h5>
                
            </div>
        </div>
        <div class="row py-5">
            <div class="col-lg-9 m-auto">
                <div class="row">
                    <div class="col-lg-4">
                        <h6>Location</h6>
                        <p>New York</p>
                        <h6>Phone</h6>
                        <p>456958652</p>
                        <h6>Email</h6>
                        <p>NewYork&#64;gmail.com</p>

                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control bg-light" placeholder="First Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control bg-light" placeholder="Last Name">
                            </div>
                        
                        </div>

                        <div class="row">
                            <div class="col-lg-12 py-3 ">
                                <textarea name="" id="" class="form-control bg-light" cols="30" rows="5" placeholder="Write Your Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 m-auto pt-4 text-center">
                            <button class="btn1">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact us end -->
