<!-- newsletter start -->
<section class="newsletter py-5" id="newsl">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-9 m-auto text-center">
                <h1>Join Our Secret Society</h1>
                <input type="text" class="px-3" placeholder="Enter Your Email">
                <button class="btn2">Sign Up</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-11">
                <div class="row">
                    <div class="col-lg-3 py-3">
                        <h5 class="pb-3">
                            Customer Care
                        </h5>
                        <p>Regular</p>
                        <p>ON Time</p>
                    </div>
                    <div class="col-lg-3 py-3">
                        <h5 class="pb-3">
                            Menu 
                        </h5>
                        <p><a class="footer-link"  href="#">Home</a></p>
                        <p><a class="footer-link" href="#onMenu">On The Menu</a></p>
                        <p><a class="footer-link" href="#shopnow">Shop</a></p>
                        <p><a class="footer-link" href="#contactu">Contact Us</a></p>
                        <p><a class="footer-link" href="#newsl">NewsLetter</a></p>
                    </div>
                    <div class="col-lg-3 py-3">
                        <h5 class="pb-3">
                            Resource
                        </h5>
                        <p>Packaging and Recycling</p>
                        <p>Privacy Policy</p>
                        <p>Terms and Conditions of Service</p>
                        <p>Affiliate Program</p>
                        <p>FAQs & Support</p>
                        
                    </div>
                    <div class="col-lg-3 py-3">
                        <h5 class="pb-3">
                            Social Link
                        </h5>
                        <span><i class="fa-brands fa-facebook" ></i></span>
                        <span><i class="fa-brands fa-twitter" ></i></span>
                        <span><i class="fa-brands fa-square-instagram" ></i></span>
                        <span><i class="fa-brands fa-youtube" ></i></span>
                        <span><i class="fa-brands fa-linkedin" ></i></span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="text-center">Copyright &copy2023 All right Reserved | This is a template for Web Publishing Module</p>
    </div>
</section>
<!-- newsletter end -->
